<!-- Container -->
<div class="flex flex-wrap min-h-screen w-full content-center justify-center bg-gray-200 py-10">

  <!-- Login component -->
  <div class="flex shadow-md">
    <!-- Login form -->
    <div class="flex flex-wrap content-center justify-center rounded-l-md bg-white"
         style="width: 24rem; height: 32rem;">
      <div class="w-72">
        <!-- Heading -->
        <h1 class="text-xl font-semibold text-blue-900">¡Bienvenido a GEDI!</h1>
        <p class="text-gray-400 text-xs my-4">Gestión y Elaboración de Documentos Institucionales</p>

        <!-- Form -->
        <form [formGroup]="formLogin" (ngSubmit)="login()" class="flex flex-col gap-6 py-4">

          <span class="p-float-label">
            <input type="email" id="email" pInputText formControlName="email" placeholder="Ex. pat@example.com">
            <label for="email">Correo Electrónico</label>

        </span>
          <small id="error" *ngIf="f['email'].touched && f['email'].errors?.['required']" class="p-error block">
            Correo Electrónico es <strong>obligatorio</strong>
          </small>
          <small id="errorEmail" *ngIf="f['email'].touched && f['email'].errors?.['email']" class="p-error block">
            Correo Electrónico es <strong>inválido</strong>
          </small>

          <span class=" p-float-label">
            <input type="password" formControlName="password" id="pass" pInputText placeholder="Ex. pat@example.com">
            <label for="pass">Contraseña</label>

        </span>
          <small *ngIf="f['password'].touched && f['password'].errors?.['required']" class="p-error block">
            Contraseña es <strong>obligatoria</strong>
          </small>
          <small *ngIf="f['password'].touched && f['password'].errors?.['minlength']" class="p-error block">
            Contraseña <strong>my corta</strong>
          </small>

          <div class="mb-3 flex justify-end">
            <a href="#" class="text-xs font-semibold text-blue-700 underline">¿Olvidó su contraseña?</a>
          </div>

          <div class="mb-3">
            <button pButton pRipple type="submit" label="Ingresar"   class="w-full "></button>
          </div>
        </form>

      </div>
    </div>

    <!-- Login banner -->
    <div class="flex flex-wrap content-center justify-center rounded-r-md" style="width: 24rem; height: 32rem;">
      <img class="w-full h-full bg-center bg-no-repeat bg-cover rounded-r-md" ngSrc="../../../../assets/img/banner.jpg"
           height="654" width="960" alt="background">
    </div>

  </div>

</div>
