<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav px-4" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="p-0">
      GEDI
    </mat-toolbar>
    <span class="text-center text-gray-400 font-extralight p-4">Menu</span>

    <mat-nav-list>
      <a mat-list-item href="#" [routerLink]="['/']" [routerLinkActive]="['rounded','bg-gray-200']">
        <mat-icon matListIcon>home</mat-icon>
        <span matLine>Inicio</span>
      </a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>

    <div class="menu1">
      <button matTooltip="{{user.name}}" class="button2" mat-icon-button mat-raised-button [matMenuTriggerFor]="menu"
              aria-label="Example icon-button with a menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button disabled mat-menu-item>
          <mat-icon>account_box</mat-icon>
          <span>{{user.name || user.username}}</span>
        </button>
        <!--       <button (click)="loader" *ngIf="admin" routerLink="gestion-usuarios" mat-menu-item>
        <div class="progress-loader" [hidden]="!loading">

          <mat-progress-bar [mode]="'indeterminate'">
          </mat-progress-bar>

      </div>
        <mat-icon>build</mat-icon>
        <span>Administrador</span>
        </button> -->
        <button matTooltip="Genera un documento" matTooltipPosition="above" [matMenuTriggerFor]="formatos"
                mat-menu-item>
          <mat-icon>library_books</mat-icon>
          <span>Crear Documento</span>
        </button>
        <mat-menu #formatos="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="solicitud">Solicitud</button>
          <button mat-menu-item [matMenuTriggerFor]="acta">Acta</button>
          <button mat-menu-item [matMenuTriggerFor]="memorandum">Memorándum</button>
          <button mat-menu-item [matMenuTriggerFor]="hojaDeVida">Hoja de Vida</button>
          <button mat-menu-item [matMenuTriggerFor]="Oficio">Oficio</button>
        </mat-menu>
        <mat-menu #solicitud="matMenu">
          <button mat-menu-item disabled>Solicitud Básica</button>
          <button mat-menu-item disabled>Solicitud - Cambio de Jornada</button>
          <button mat-menu-item disabled>Solicitud - Cambio de Carrera</button>
          <button mat-menu-item routerLink="/solicitudes-titulacion">Solicitud - Proyecto de Titulación</button>
        </mat-menu>

        <mat-menu #acta="matMenu">
          <button mat-menu-item routerLink="/actas">Acta Básica</button>
          <button mat-menu-item routerLink="/actasReuniones">Acta de Reunión</button>
        </mat-menu>

        <mat-menu #memorandum="matMenu">
          <button mat-menu-item routerLink="/memorandums">Memorándum Básico</button>
        </mat-menu>

        <mat-menu #hojaDeVida="matMenu">
          <button mat-menu-item routerLink="/hojasDeVida">Hoja de Vida Básica</button>
          <button mat-menu-item disabled>Hoja de Vida - Fase Práctica</button>
        </mat-menu>

        <mat-menu #Oficio="matMenu">
          <button mat-menu-item routerLink="/oficios">Oficio Básico</button>
          <button mat-menu-item disabled>Oficio - Carrera Específica</button>
        </mat-menu>


        <button matTooltip="Visualizador de documentos" matTooltipPosition="above" routerLink="visualizador"
                mat-menu-item>
          <mat-icon>remove_red_eye</mat-icon>
          <span>Visualizador</span>
        </button>
        <button matTooltip="Información sobre tus documentos" matTooltipPosition="above" routerLink="elaborador"
                mat-menu-item>
          <mat-icon>info</mat-icon>
          <span>Elaborador</span>
        </button>
        <button matTooltip="Visita la página de la Institución" matTooltipPosition="above" mat-menu-item>
          <mat-icon>apartment</mat-icon>
          <a href="http://yavirac.edu.ec/eva/login/index.php">IGNUG</a>
        </button>
        <button matTooltip="¿Cerrar Sesión en GEDI?" matTooltipPosition="above" mat-menu-item>
          <mat-icon>cancel</mat-icon>
          <span>Cerrar Sesión</span>
        </button>
      </mat-menu>
    </div>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="bg-blue-900 text-white">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Inicio</span>
      <div class="flex w-full justify-end items-center px-4 py-6">
        <div class="relative w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
          <svg class="absolute w-12 h-12 text-white -left-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
        </div>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
